Repository SamuGG/dotnet-exercises: changes, and which lint-staged commands are due for each by the changed paths.
All: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false, make toc-markdown DOCKER_INTERACTIVE=false

chore: Yarn init
  .gitattributes
  package.json
  yarn.lock
Due: none

chore: Config commitlint
  commitlint.config.js
Due: none

chore: Setup DI exercise
  dependency-injection/exercise-01/DIExercise01.sln
  dependency-injection/exercise-01/ServiceConsumer/Program.cs
  dependency-injection/exercise-01/ServiceConsumer/ServiceConsumer.csproj
Due: none

feat: ServiceCollection, ServiceProvider and ServiceDescriptor
  dependency-injection/exercise-01/DIExercise01.sln
  dependency-injection/exercise-01/ServiceConsumer/Program.cs
  dependency-injection/exercise-01/ServiceConsumer/ServiceConsumer.csproj
  dependency-injection/exercise-01/ServiceConsumer/Services/ConsoleWriter.cs
  dependency-injection/exercise-01/ServiceConsumer/Services/GuidProvider.cs
  dependency-injection/exercise-01/ServiceContainer/ServiceCollection.cs
  dependency-injection/exercise-01/ServiceContainer/ServiceContainer.csproj
  dependency-injection/exercise-01/ServiceContainer/ServiceDescriptor.cs
  dependency-injection/exercise-01/ServiceContainer/ServiceLifetime.cs
  dependency-injection/exercise-01/ServiceContainer/ServiceProvider.cs
  dependency-injection/exercise-01/ServiceContainer/ServiceProviderExtensions.cs
Due: none

fix: Add generics contraints
  dependency-injection/exercise-01/ServiceContainer/ServiceCollection.cs
Due: none

feat: Allow service class registration
  dependency-injection/exercise-01/ServiceConsumer/Program.cs
  dependency-injection/exercise-01/ServiceContainer/ServiceCollection.cs
Due: none

feat: Allow service factory registration
  dependency-injection/exercise-01/ServiceConsumer/Program.cs
  dependency-injection/exercise-01/ServiceContainer/ServiceCollection.cs
  dependency-injection/exercise-01/ServiceContainer/ServiceDescriptor.cs
  dependency-injection/exercise-01/ServiceContainer/ServiceProvider.cs
Due: none

feat: Use case for transitive dependencies
  dependency-injection/exercise-01/ServiceConsumer/Program.cs
  dependency-injection/exercise-01/ServiceConsumer/Services/ConsoleWriter.cs
Due: none

fix: Markdown linter docker command and config changes
  .markdownlint-cli2.jsonc
  .markdownlintignore
  Makefile
Due: none

chore: Add and sort pell checker ignore rules
  cspell.json
Due: none

chore: Spell checker corrections
  microservices/microservices-play-economy/README.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false, make toc-markdown DOCKER_INTERACTIVE=false

fix: Remove deprecated lines from husky scripts
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: Skip readme TOC generation
  Makefile
Due: none

feat!: Remove TOC markdown
  .lintstagedrc
  Makefile
Due: none

feat: Makefile target for initializing package manager
  Makefile
Due: none

refactor: Rename Makefile targets
  .lintstagedrc
  Makefile
Due: none

refactor: Break down cleaning targets
  Makefile
Due: none

refactor: Makefile clean target requires a path
  Makefile
Due: none

feat: Any staged .cs files must build
  .lintstagedrc
  Makefile
Due: none

chore: Change clean up path
  Makefile
Due: none

fix: Merge Makefile from main
  Makefile
Due: none

chore: Upgrade Yarn and Node packages
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

feat: Singleton design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/singleton/DesignPatterns.Singleton.csproj
  design-patterns/singleton/SingletonWithLazyObjects.cs
  design-patterns/singleton/SingletonWithObjects.cs
  design-patterns/singleton/SingletonWithValues.cs
Due: none

feat: Factory design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/factory/BasicImplementation/Creators/ConcreteCreator.cs
  design-patterns/factory/BasicImplementation/Creators/Creator.cs
  design-patterns/factory/BasicImplementation/Products/ConcreteProduct.cs
  design-patterns/factory/BasicImplementation/Products/Product.cs
  design-patterns/factory/DesignPatterns.Factory.csproj
  design-patterns/factory/ExampleImplementation/Enemies/Ghost.cs
  design-patterns/factory/ExampleImplementation/Enemies/Goblin.cs
  design-patterns/factory/ExampleImplementation/Enemies/IEnemy.cs
  design-patterns/factory/ExampleImplementation/Levels/CaveLevel.cs
  design-patterns/factory/ExampleImplementation/Levels/HauntedHouseLevel.cs
  design-patterns/factory/ExampleImplementation/Levels/Level.cs
  design-patterns/factory/Program.cs
  design-patterns/factory/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Composite pattern
  design-patterns/DesignPatterns.sln
  design-patterns/composite/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Proxy design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/proxy/BasicImplementation/Proxy.cs
  design-patterns/proxy/BasicImplementation/RealSubject.cs
  design-patterns/proxy/BasicImplementation/Subject.cs
  design-patterns/proxy/DesignPatterns.Proxy.csproj
  design-patterns/proxy/Program.cs
  design-patterns/proxy/VirtualProxy/IImage.cs
  design-patterns/proxy/VirtualProxy/ImageProxy.cs
  design-patterns/proxy/VirtualProxy/RealImage.cs
  design-patterns/proxy/diagram.md
  design-patterns/proxy/proxy-types.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Decorator design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/decorator/BasicImplementation/Component.cs
  design-patterns/decorator/BasicImplementation/ConcreteComponent.cs
  design-patterns/decorator/BasicImplementation/ConcreteDecorator1.cs
  design-patterns/decorator/BasicImplementation/ConcreteDecorator2.cs
  design-patterns/decorator/BasicImplementation/Decorator.cs
  design-patterns/decorator/DesignPatterns.Decorator.csproj
  design-patterns/decorator/ExampleImplementation/BasicTeslaModel.cs
  design-patterns/decorator/ExampleImplementation/BluePaintTeslaDecorator.cs
  design-patterns/decorator/ExampleImplementation/ITeslaCar.cs
  design-patterns/decorator/ExampleImplementation/LongRangeTeslaDecorator.cs
  design-patterns/decorator/ExampleImplementation/RedPaintTeslaDecorator.cs
  design-patterns/decorator/ExampleImplementation/TeslaDecorator.cs
  design-patterns/decorator/Program.cs
  design-patterns/decorator/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Adapter design pattern
  cspell.json
  design-patterns/DesignPatterns.sln
  design-patterns/adapter/BasicImplementation/Adaptee.cs
  design-patterns/adapter/BasicImplementation/Adapter.cs
  design-patterns/adapter/BasicImplementation/Target.cs
  design-patterns/adapter/DesignPatterns.Adapter.csproj
  design-patterns/adapter/ExampleImplementation/IRectangle.cs
  design-patterns/adapter/ExampleImplementation/LegacyRectangle.cs
  design-patterns/adapter/ExampleImplementation/LegacyRectangleAdapter.cs
  design-patterns/adapter/Program.cs
  design-patterns/adapter/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Bridge design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/bridge/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Prototype design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/prototype/BasicImplementation/ConcretePrototype1.cs
  design-patterns/prototype/BasicImplementation/ConcretePrototype2.cs
  design-patterns/prototype/BasicImplementation/Prototype.cs
  design-patterns/prototype/DesignPatterns.Prototype.csproj
  design-patterns/prototype/ExampleImplementation/Circle.cs
  design-patterns/prototype/ExampleImplementation/Color.cs
  design-patterns/prototype/ExampleImplementation/IPrototype.cs
  design-patterns/prototype/ExampleImplementation/IShape.cs
  design-patterns/prototype/ExampleImplementation/Rectangle.cs
  design-patterns/prototype/Program.cs
  design-patterns/prototype/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Command design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/command/BasicImplementation/Command.cs
  design-patterns/command/BasicImplementation/ConcreteCommand.cs
  design-patterns/command/BasicImplementation/Invoker.cs
  design-patterns/command/BasicImplementation/Receiver.cs
  design-patterns/command/DesignPatterns.Command.csproj
  design-patterns/command/ExampleImplementation/CLI.cs
  design-patterns/command/ExampleImplementation/ChangeDirectoryCommand.cs
  design-patterns/command/ExampleImplementation/FileSystemReceiver.cs
  design-patterns/command/ExampleImplementation/ICommand.cs
  design-patterns/command/ExampleImplementation/ListDirectoryCommand.cs
  design-patterns/command/ExampleImplementation/MakeDirectoryCommand.cs
  design-patterns/command/Program.cs
  design-patterns/command/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Template method design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/template-method/BasicImplementation/AbstractClass.cs
  design-patterns/template-method/BasicImplementation/ConcreteClass1.cs
  design-patterns/template-method/BasicImplementation/ConcreteClass2.cs
  design-patterns/template-method/DesignPatterns.TemplateMethod.csproj
  design-patterns/template-method/ExampleImplementation/CsvParser.cs
  design-patterns/template-method/ExampleImplementation/FileParser.cs
  design-patterns/template-method/ExampleImplementation/JsonParser.cs
  design-patterns/template-method/Program.cs
  design-patterns/template-method/data/sample.csv
  design-patterns/template-method/data/sample.json
  design-patterns/template-method/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Template method design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/template-method/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Observer design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/observer/BasicImplementation/ConcreteObserver.cs
  design-patterns/observer/BasicImplementation/ConcreteSubject.cs
  design-patterns/observer/BasicImplementation/Observer.cs
  design-patterns/observer/BasicImplementation/Subject.cs
  design-patterns/observer/DesignPatterns.Observer.csproj
  design-patterns/observer/ExampleImplementation/GameOverScreen.cs
  design-patterns/observer/ExampleImplementation/HealthBarUI.cs
  design-patterns/observer/ExampleImplementation/IGameObserver.cs
  design-patterns/observer/ExampleImplementation/IGameSubject.cs
  design-patterns/observer/ExampleImplementation/Player.cs
  design-patterns/observer/ExampleImplementation/ScoreUI.cs
  design-patterns/observer/Program.cs
  design-patterns/observer/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: State design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/state/BasicImplementation/ConcreteStateA.cs
  design-patterns/state/BasicImplementation/ConcreteStateB.cs
  design-patterns/state/BasicImplementation/Context.cs
  design-patterns/state/BasicImplementation/State.cs
  design-patterns/state/DesignPatterns.State.csproj
  design-patterns/state/ExampleImplementation/Character.cs
  design-patterns/state/ExampleImplementation/DefeatedState.cs
  design-patterns/state/ExampleImplementation/ICharacterState.cs
  design-patterns/state/ExampleImplementation/InjuredState.cs
  design-patterns/state/ExampleImplementation/NormalState.cs
  design-patterns/state/ExampleImplementation/PowerUpState.cs
  design-patterns/state/Program.cs
  design-patterns/state/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Bridge design pattern
  cspell.json
  design-patterns/DesignPatterns.sln
  design-patterns/bridge/BasicImplementation/Abstraction.cs
  design-patterns/bridge/BasicImplementation/ConcreteImplementor1.cs
  design-patterns/bridge/BasicImplementation/ConcreteImplementor2.cs
  design-patterns/bridge/BasicImplementation/Implementor.cs
  design-patterns/bridge/BasicImplementation/RefinedAbstraction1.cs
  design-patterns/bridge/BasicImplementation/RefinedAbstraction2.cs
  design-patterns/bridge/DesignPatterns.Bridge.csproj
  design-patterns/bridge/ExampleImplementation/ClothingFormatters/DressClothingFormatter.cs
  design-patterns/bridge/ExampleImplementation/ClothingFormatters/IClothingFormatter.cs
  design-patterns/bridge/ExampleImplementation/ClothingFormatters/PoloShirtClothingFormatter.cs
  design-patterns/bridge/ExampleImplementation/ClothingFormatters/ShoeClothingFormatter.cs
  design-patterns/bridge/ExampleImplementation/ClothingItems/Dress.cs
  design-patterns/bridge/ExampleImplementation/ClothingItems/PoloShirt.cs
  design-patterns/bridge/ExampleImplementation/ClothingItems/Shoe.cs
  design-patterns/bridge/ExampleImplementation/ClothingViews/ClothingView.cs
  design-patterns/bridge/ExampleImplementation/ClothingViews/CompactClothingView.cs
  design-patterns/bridge/ExampleImplementation/ClothingViews/DetailedClothingView.cs
  design-patterns/bridge/ExampleImplementation/ClothingViews/MiniClothingView.cs
  design-patterns/bridge/Program.cs
  design-patterns/bridge/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Composite pattern
  design-patterns/DesignPatterns.sln
  design-patterns/composite/BasicImplementation/Component.cs
  design-patterns/composite/BasicImplementation/Composite.cs
  design-patterns/composite/BasicImplementation/Leaf.cs
  design-patterns/composite/DesignPatterns.Composite.csproj
  design-patterns/composite/ExampleImplementation/Bundle.cs
  design-patterns/composite/ExampleImplementation/Course.cs
  design-patterns/composite/ExampleImplementation/LearningResource.cs
  design-patterns/composite/Program.cs
  design-patterns/composite/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Flyweight design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/flyweight/BasicImplementation/Client.cs
  design-patterns/flyweight/BasicImplementation/ConcreteFlyweight.cs
  design-patterns/flyweight/BasicImplementation/Flyweight.cs
  design-patterns/flyweight/BasicImplementation/FlyweightFactory.cs
  design-patterns/flyweight/DesignPatterns.Flyweight.csproj
  design-patterns/flyweight/ExampleImplementation/DocumentEditor.cs
  design-patterns/flyweight/ExampleImplementation/Glyph.cs
  design-patterns/flyweight/ExampleImplementation/GlyphFactory.cs
  design-patterns/flyweight/ExampleImplementation/IGlyph.cs
  design-patterns/flyweight/Program.cs
  design-patterns/flyweight/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

feat: Mediator design pattern
  design-patterns/DesignPatterns.sln
  design-patterns/mediator/BasicImplementation/Colleague.cs
  design-patterns/mediator/BasicImplementation/Colleague1.cs
  design-patterns/mediator/BasicImplementation/Colleague2.cs
  design-patterns/mediator/BasicImplementation/ConcreteMediator.cs
  design-patterns/mediator/BasicImplementation/Mediator.cs
  design-patterns/mediator/DesignPatterns.Mediator.csproj
  design-patterns/mediator/ExampleImplementation/AdminUser.cs
  design-patterns/mediator/ExampleImplementation/ChatRoom.cs
  design-patterns/mediator/ExampleImplementation/IChatMediator.cs
  design-patterns/mediator/ExampleImplementation/RegularUser.cs
  design-patterns/mediator/ExampleImplementation/User.cs
  design-patterns/mediator/Program.cs
  design-patterns/mediator/diagram.md
Due: make lint-markdown DOCKER_INTERACTIVE=false, make spell-check DOCKER_INTERACTIVE=false

Path conditions:
  make lint-markdown DOCKER_INTERACTIVE=false: any of: *.md
  make spell-check DOCKER_INTERACTIVE=false: any of: *.md
  make toc-markdown DOCKER_INTERACTIVE=false: any of: README.md
